.active-size {
    color: #d01d14;
    border-color: #d01d14;
    border: 2px solid
}

.active-color {
    color: #d01d14;
    border-color: #d01d14;
    border: 2px solid
}

/* .btn-color {
    border-color: rgb(10, 0, 0);
} */